*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  background-image: url("https://forja.danielbragadesigner.com.br/wp-content/uploads/2021/01/ev4full.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

img {
  display: block;
  width: 100%;
}

a, ul, li  {
  text-decoration: none;
  list-style: none;
}

main, section {
  height: 100vh;
}


.section-1, .section-2, .section-3, .section-4, .section-5, .section-6, .section-7, .section-8 {
  width: 100%;
}

.overlay {
  background-color: transparent;
  background-image: radial-gradient(at center center, #0A0A0AC9 0%, #000000 100%);
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100vh;
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
  justify-content: center;
  height: auto;
  font-family: "Lato", sans-serif;
  margin-bottom: 20px;
}

.produto_nome {
  color: #FF9C00;
  font-family: "Lato", Sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

.produto_promessa {
  color: #FFFFFF;
  font-family: "Lato", Sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.data_promessa {
  color: #FF9C00;
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.principal .overlay .container {
  max-width: 50%;
}

.principal .overlay .container p {
  color: #FFFFFF;
  font-family: "Lato", Sans-serif;
  font-size: 2.4rem;
  font-weight: 300;
  text-align: center;
}

.cadastrar {
  display: flex;
  max-width: 456px;
  width: 456px;
  justify-content: center;
}

.cadastrar a {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF9C00;
  flex: 1;
  border: none;
  font-size: 0.875em;
  text-decoration: none;
  text-align: center;
  outline: none;
}

.cadastrar a:first-child {
  color: #FFF;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  transition: 0.3s all ease;
}

.cadastrar a:first-child:hover {
  background: #068700;
}

.cadastrar a:last-child {
  margin-left: 5px;
  background: transparent;
  transition: 0.3s all ease;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #333333;
  border: 1px solid #333333;
}

.cadastrar a:last-child:hover {
  color: #FFF;
}

.setColorCheck {
  color: #FF9C00;
  margin-right: 5px;
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
}


form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form input {
  text-align: center;
  background: #ffffff;
  padding: 20px 40px;
  border: 0px;
  width: 100%;
  margin-top: 10px;

}

form button {
  padding: 25px 40px;
  width: 100%;
  margin: 15px 0 5px;
  background: #FF9C00;
  color: #fff;
  font-weight: bold;
  border: 0px;
  cursor: pointer;
}

.container p {
  font-size: 1em;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: white;
  margin-top: 10px;
}

.section-2 .overlay {
  justify-content: center;
}

.section-2 .overlay h1 {
  text-align: center;
  color: #FFFFFF;
  font-family: "Lato", Sans-serif;
  font-size: 2.8rem;
  font-weight: 300;
  max-width: 650px;
}

.section-2 .cadastrar {
  margin-top: 20px;
}

.midias {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.midias a {
  color: white;
  margin-right: 40px;
}

.midias a:last-child {
  margin-right: 0;
}

.section-2 .cadastrar a:first-child {
  background: #25d366;
}

.section-2 .cadastrar a:last-child {
  background: #0088cc;
  color: white;
}

.section-2 .cadastrar i {
  margin-right: 5px;
}

.section-2 .cadastrar a {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

@media only screen and (max-width: 767px) {
  .produto_nome {
    font-size: 1.2em;
  }

  .produto_promessa {
    font-size: 4em;
  }

  .cadastrar {
    width: auto;
  }

  .container h1 {
    font-size: 2em;
  }

  .container p {
    text-align: center;
  }

  .section-2 .overlay h1 {
    font-size: 2em;
  }

  .principal .overlay .container {
    max-width: 80%;
  }

  .principal .overlay .container p {
    font-size: 2em;
  }

  .principal .overlay .container h1 {
    text-align: center;
    margin: 10px 0;
  }

  .principal .overlay .container .produto_nome {
    font-size: 2em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .produto_promessa {
    font-size: 5em;
    text-align: center;
  }

  .principal .overlay .container {
    max-width: 80%;
  }
}